/* 2.1 */
/* #myDiv {
    width: 200px;
    height: 200px;
    background-color: lightblue;
} */

/* 2.2 */
/* #elem {
    width: 300px;
    height: 200px;
} */

/* 2.3 */
/* #elem {
    font-size: 1.5em;
} */





/* 4 */
/* #elem {
    width: 300px;
    height: 200px;
    border: 1px solid red;
} */





/* 6 */
/* #elem {
    border: 1px solid red;
} */





/* 8.1 */
/* #elem {
    width: 200px;
    height: 200px;
    border: 2px solid black;
} */

/* 8.2 */
/* #elem {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    transition: all 0.3s; 
} */






/* 10 */
/* .even {
    color: red;
}
.odd {
    color: green;
} */






/* 12 */
/* input {
      border: 2px solid; 
}
.valid {
      border-color: green; 
}
.invalid {
      border-color: red; 
} */